@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* --------------- Flex --------------- */
.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-1 {
    flex: 1;
}

/* ---------- Justify content ----------*/
.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

/* --------------- Text --------------- */
.text-vertically-center {
    display: flex;

    justify-content: center;
    align-items: center;
}

.text-align-center {
    text-align: center;
}

/*  */
.text-color-white {
    color: #e1e1e1;
}

.biru {
    background-color: #008ddb;
}
.merah {
    background-color: #e4005a;
}
.kuning {
    background-color: #ffb807;
}
.box-shdw {
    box-shadow: 0px 0px 45px -32px rgb(85, 85, 85);
}
body {
    background-color: #151515;
}

* {
    font-family: "Inter", sans-serif;
}
